body{
    min-width:100vw;
    min-height:100vh;
    background-image:url("./media/bg-top.svg"),url("./media/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat:no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.switch{
    position:relative;
    display:inline-block;
    top:2px;
    width:100px;
    height:42px;
    margin:0 15px;
    margin-top:30px;
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:hsl(236, 72%, 79%);
    transition:.4s;
    border-radius: 34px;
}
.switch input{
    display:none;
}

.slider:before{
    position:absolute;
    content:"";
    height:35px;
    width:35px;
    left:5px;
    bottom:5px;
    background-color: white;
    transition:0.4s;
    top:2.2px;
    border-radius: 50%;
}
input:checked + .slider:before{
    transform:translateX(50px);
}
#uppertext{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.flex-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:200px;
    gap:1.5rem;
}
hr{
    width:70%;
}
.textsizing{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:15px;
    margin-top:25px;
}
.textfortoggle{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:15px;
    margin-top:45px;

}

#toggle{
   display:flex;
   justify-content: center;
}
#dollar{
    font-size:40px;
}
.price{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:30px;
    margin-top:25px;
}
#price1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:50px;
    margin-top:25px;
}
#price2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:50px;
    margin-top:25px;
}
#price3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:50px;
    margin-top:25px;
}
.wholetext{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight:700;
    font-size:15px;
    margin-top:25px;
}
.toggle{
    display:flex;
    justify-content: center;
}

.div1{
    height:450px;
    width:350px;
    background-color:white; 
    margin-right:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
.div1:hover {
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    
}
.div1:hover .wholetext{
    color:white;
}

.div1:hover .textsizing{
    color:white;
}

.div1:hover .price{
    color:white;
}
.div1:hover #btn{
    background-image: linear-gradient(white,white);
    color:hsl(236, 72%, 79%);
}  
  .container {  
    width: 400px;  
    height: 100px;  
    border: 5px solid transparent;                                         ;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    margin-left:-36px;
    }   
#btn {  
    box-shadow: 0 4px 8px 0 grey;
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
    color:white;  
    font-size: 15px;  
    width: 65%;
    height:40px;
    border-radius:10px;
}  